@font-face {
    font-family: "Pretendard-Regular";
    src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
        format("woff");
    font-weight: 400;
    font-style: normal;
}

body {
    background-color: #f8f8f8;
    font-family: "Pretendard-Regular";
    padding-top: 30px;
}

/* Seoul.js */
#OUTLINE {
    stroke-linejoin: round;
    stroke: #ffffff;
    stroke-width: 1;
}
.fill {
    fill: rgb(209, 209, 209);
    transition: 0.2s;
}
svg text {
    /* display: none; */
    text-shadow: 0 0 5px black;
}
svg g:hover text {
    display: block;
    cursor: pointer;
    transition: 0.3s;
}
svg g:hover path {
    fill: rgb(157, 157, 157);
    transition: 0.2s;
    cursor: pointer;
}
svg {
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.15));
}
.LINE {
    stroke-linejoin: round;
    stroke: #ffffff;
    stroke-width: 1;
    fill: none;
}
.POINT {
    stroke: #ffffff;
    stroke-width: 1;
    fill: #ffffff;
}
.TEXT {
    fill: #ffffff;
    font-size: 16px;
    text-anchor: middle;
    alignment-baseline: middle;
    opacity: 1;
}
.TEXT:hover {
    opacity: 1;
}

/* Air.js */
.all {
    display: flex;
}
.container {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}
.wt_wrap {
    margin-bottom: 50px;
}
/* .wt_wrap div {
    margin-bottom: 10px;
}
.dust_wrap div {
    margin-bottom: 10px;
} */
.loader {
    margin: auto 0;
}

/* Dust.js */
.Dust {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.col {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: 50%;
}
.right {
    margin-right: 10px;
}
.value {
    background-color: #fff;
    border-radius: 15px;
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.1));
    padding: 15px 18px;
}
.dust {
    display: inline-block;
    margin-bottom: 10px;
}
.tail:after {
    border-top: 7px solid transparent;
    border-left: 0px solid transparent;
    border-right: 10px solid #fff;
    border-bottom: 7px solid transparent;
    content: "";
    position: absolute;
    top: 15px;
    left: -10px;
}

/* Weather.js */
.Weather {
}
.weather {
    display: inline-block;
    margin-bottom: 10px;
}
.title {
    margin-bottom: 7px;
    font-weight: 600;
}
.sky {
    display: inline;
    margin-right: 5px;
    font-weight: 500;
    color: black;
}
.rec {
    margin-left: 10px;
}
